/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/screen.scss */
.block, .special-offer, table td {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #46536c;
}

/* line 35, ../sass/screen.scss */
.product-slider .product-item .product-name {
  font-family: "Open Sans",sans-serif;
  font-size: 26px;
  font-weight: 100;
}

/* line 41, ../sass/screen.scss */
h3 {
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 19px;
}
/* line 45, ../sass/screen.scss */
h3.subtitle {
  text-transform: uppercase;
  color: #003187;
  font-weight: lighter;
}

/* line 52, ../sass/screen.scss */
h2 {
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* line 60, ../sass/screen.scss */
.block img {
  float: right;
}
/* line 61, ../sass/screen.scss */
.block ul {
  padding-top: 43px;
}
/* line 63, ../sass/screen.scss */
.block ul li {
  font-weight: bold;
}

/* line 70, ../sass/screen.scss */
.main-info p {
  font-size: 21px;
  font-weight: lighter;
  color: #85b73c;
  line-height: 1.6;
  padding-left: 75px;
  position: relative;
}
/* line 78, ../sass/screen.scss */
.main-info :before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 60px;
  background-color: #85b73c;
}

/* line 90, ../sass/screen.scss */
.special-offer {
  width: 33%;
  margin-right: 1.3%;
  font-size: 13px;
}
/* line 95, ../sass/screen.scss */
.special-offer h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 14px;
}
/* line 100, ../sass/screen.scss */
.special-offer.left-img {
  position: relative;
  padding-left: 75px;
}
/* line 103, ../sass/screen.scss */
.special-offer.left-img img {
  position: absolute;
  left: 0;
  top: 5px;
}
/* line 109, ../sass/screen.scss */
.special-offer.top-img {
  text-align: center;
  float: right;
}
/* line 111, ../sass/screen.scss */
.special-offer.top-img img {
  margin: 0 auto 20px;
}

/* line 116, ../sass/screen.scss */
.half-blocks {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
/* line 120, ../sass/screen.scss */
.half-blocks td {
  width: 50%;
}
/* line 122, ../sass/screen.scss */
.half-blocks td :first-child {
  padding-right: 50px;
  background-color: transparent;
  color: #46536c;
}

/* line 130, ../sass/screen.scss */
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
/* line 135, ../sass/screen.scss */
table th {
  border: 1px solid #46536c;
  background-color: #f5f7fb;
  font-weight: bold;
  text-transform: uppercase;
  color: #46536c;
  font-size: 13px;
}
/* line 138, ../sass/screen.scss */
table th :nth-child(2) {
  width: 295px;
}
/* line 144, ../sass/screen.scss */
table td {
  color: #cdaaf0;
}
/* line 145, ../sass/screen.scss */
table td :first-child {
  background-color: #fcfdff;
}

/* line 152, ../sass/screen.scss */
.product-slider .product-item {
  display: block;
  height: 375px;
  border: 1px solid #e1e3e7;
}
/* line 156, ../sass/screen.scss */
.product-slider .product-item .product-img {
  height: 235px;
  margin-bottom: 40px;
}
/* line 160, ../sass/screen.scss */
.product-slider .product-item .product-name {
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 25px;
}
/* line 166, ../sass/screen.scss */
.product-slider .product-item .product-price {
  color: #999;
  font-size: 18px;
  padding: 0 0 15px 25px;
}
/* line 172, ../sass/screen.scss */
.product-slider .product-item .product-status {
  color: #85b73c;
  font-size: 9px;
  text-transform: uppercase;
  padding-left: 25px;
}

/* line 183, ../sass/screen.scss */
.page-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #ccc;
  width: 100%;
}
/* line 189, ../sass/screen.scss */
.page-header.sticky .panel {
  display: none;
}
