<ul class="product-slider">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
</ul>

<script type="text/javascript">
    requirejs(['jquery', 'myslider' ],
      function ($, myslider) {
          $(document).ready(function(){

             $('.product-slider').bxSlider({
                 auto:  true,
                 controls:true,
                 pager: true,
                 useCss:true,
                 mode:'horizontal',
                 pause:4100,
                 speed:1200,
                 responsive:true,
                 minSlides:1,
                 maxSlides:4,
                 slideWidth:250,
                 wrapperClass:'bx-wrapper'
             });

          });
      });
  </script>