/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/*basic styles*/
%basic-font{
	font-size:12px;
	font-family:"Open Sans",sans-serif;
	color:rgb(66,80,105);
}
/*styling-start*/
.shop-list-wrapper{
	display:table;
	table-layout:fixed;
	width:100%;
	.shop-list{
		display:table-cell;
		vertical-align:top;
		height:100%;
		width:20%;
		vertical-overflow:auto;
		.shop-item{
			display:block;
			@extend %basic-font;
			padding:15px 45px;
			border-bottom:1px solid rgb(217,217,217);
			&:first-child{
				border-top:1px solid rgb(217,217,217);
			}

			.shop-name{
				@extend %basic-font;
				font-weight:bold;
				color:rgb(41,50,66);
				line-height:1;
				padding-bottom:10px;
			}

			.shop-address{padding-bottom:17px; line-height:1;}

			&.active{
				position:relative;
				background-color:#f0fddd;

				.shop-name{color:#86b83e;}
			}
		}
	}
	.map-wrapper{
		display:table-cell;
		#map{
			width:100%;
			height:500px;
		}
	}

	.map-shop{
		padding:22px 30px 20px 25px;
		.name{
			text-align:center;
			font-size:13px;
			color:#86b83e;
			font-weight:bold;
			line-height:1
		}
		.address{
			text-align:center;
			padding-top:10px;
			@extend %basic-font;
		}

		.working-hours{
			@extend %basic-font;
			font-size:10px;
			padding-top:10px;
			.item{
				padding-bottom:10px;
				span{
					&:last-child{
						float:right;
					}
				}
			}
		}
	}

	.search-address-wrapper{
		display:table;
		margin-bottom:15px;
		width:100%;

		#search-address{
			float:left;
			width:65%;
			margin-right:5%;	
		}

		.search-btn{
			@extend %basic-font;
			height:100%;
			width:30%;
			float:right;
			background-color:green;
			color:#fff;
			text-align:center;
			padding:5px;
			border:none;
			font-size:16px;
			&:hover{backgound-color: darkgreen;}
		}
	}

}