/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*basic styles*/
/* line 8, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item, .shop-list-wrapper .shop-list .shop-item .shop-name, .shop-list-wrapper .map-shop .address, .shop-list-wrapper .map-shop .working-hours, .shop-list-wrapper .search-address-wrapper .search-btn {
  font-size: 12px;
  font-family: "Open Sans",sans-serif;
  color: #425069;
}

/*styling-start*/
/* line 14, shopstyle.scss */
.shop-list-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 18, shopstyle.scss */
.shop-list-wrapper .shop-list {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width: 20%;
  vertical-overflow: auto;
}
/* line 24, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item {
  display: block;
  padding: 15px 45px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 29, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item:first-child {
  border-top: 1px solid #d9d9d9;
}
/* line 33, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item .shop-name {
  font-weight: bold;
  color: #293242;
  line-height: 1;
  padding-bottom: 10px;
}
/* line 41, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item .shop-address {
  padding-bottom: 17px;
  line-height: 1;
}
/* line 43, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item.active {
  position: relative;
  background-color: #f0fddd;
}
/* line 47, shopstyle.scss */
.shop-list-wrapper .shop-list .shop-item.active .shop-name {
  color: #86b83e;
}
/* line 51, shopstyle.scss */
.shop-list-wrapper .map-wrapper {
  display: table-cell;
}
/* line 53, shopstyle.scss */
.shop-list-wrapper .map-wrapper #map {
  width: 100%;
  height: 500px;
}
/* line 59, shopstyle.scss */
.shop-list-wrapper .map-shop {
  padding: 22px 30px 20px 25px;
}
/* line 61, shopstyle.scss */
.shop-list-wrapper .map-shop .name {
  text-align: center;
  font-size: 13px;
  color: #86b83e;
  font-weight: bold;
  line-height: 1;
}
/* line 68, shopstyle.scss */
.shop-list-wrapper .map-shop .address {
  text-align: center;
  padding-top: 10px;
}
/* line 74, shopstyle.scss */
.shop-list-wrapper .map-shop .working-hours {
  font-size: 10px;
  padding-top: 10px;
}
/* line 78, shopstyle.scss */
.shop-list-wrapper .map-shop .working-hours .item {
  padding-bottom: 10px;
}
/* line 81, shopstyle.scss */
.shop-list-wrapper .map-shop .working-hours .item span:last-child {
  float: right;
}
/* line 89, shopstyle.scss */
.shop-list-wrapper .search-address-wrapper {
  display: table;
  margin-bottom: 15px;
  width: 100%;
}
/* line 94, shopstyle.scss */
.shop-list-wrapper .search-address-wrapper #search-address {
  float: left;
  width: 65%;
  margin-right: 5%;
}
/* line 100, shopstyle.scss */
.shop-list-wrapper .search-address-wrapper .search-btn {
  height: 100%;
  width: 30%;
  float: right;
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 5px;
  border: none;
  font-size: 16px;
}
/* line 111, shopstyle.scss */
.shop-list-wrapper .search-address-wrapper .search-btn:hover {
  backgound-color: darkgreen;
}
