<?php
	 /**
	 * @var \ShopsVendor\ShopsModel\Block\IndexPage $block
	 */
?>
<div class="shop-list-wrapper">
	<ul class="shop-list">
		<div class="search-address-wrapper">
			<input type="text" id="search-address" placeholder="Search address">
			<input type="button" value="Search" class="search-btn">
		</div>
		<?php 
		foreach ($block->getShopsCollection() as $key => $shop) {
			?>
			<li class='shop-item'>
				<div class='shop-name'><?php echo $shop->getShopName();?></div>
				<div class='shop-address'><?php echo $shop->getShopAddress();?></div>
				<div class'wroking-hours'><?php echo $shop->getWorkingHoursSummary();?></div>
			</li>
		<?php
		}?>
	</ul>
	<div class="map-wrapper">
		<div id="map">
			<script >
				function initMap() {
					var shopsArr = new Array();
					var markers = new Array();
					<?php
						foreach ($block->getShopsCollection() as $key => $shop) {
					 ?>
						shopsArr.push([
							'<?php echo $shop->getShopName(); ?>',
							'<?php echo $shop->getShopAddress(); ?>',
							'<?php echo $shop->getWorkingHoursMonday(); ?>',
							'<?php echo $shop->getWorkingHoursTuesday(); ?>',
							'<?php echo $shop->getWorkingHoursWednesday(); ?>',
							'<?php echo $shop->getWorkingHoursThursday(); ?>',
							'<?php echo $shop->getWorkingHoursFriday(); ?>',
							'<?php echo $shop->getWorkingHoursSaturday(); ?>',
							'<?php echo $shop->getWorkingHoursSunday(); ?>',
							]);
						 
					<?php 
						} ?>
					var myCenter = {lat:56.9715357,lng:23.8489801};
					var map = new google.maps.Map(document.getElementById('map'),{zoom:8,center:myCenter});
					var infoWindow = new google.maps.InfoWindow();
					var marker, i;
					var geocoder = new google.maps.Geocoder();
					for(i=0; i < shopsArr.length; i++){
						geocodeAddress(shopsArr[i]);
					}

					function geocodeAddress(location) {
					  geocoder.geocode( { 'address': location[1]}, function(results, status) {
					  //alert(status);
					    if (status == google.maps.GeocoderStatus.OK) {
					    	var infoText = '<div class="map-shop"><div class="name">'+location[0]+'</div>'+
					    	'<div class="address">'+location[1]+'</div>'+
					    	'<div class="working-hours">'+
					    	'<div class="item"><span>Monday</span><span>'+location[2]+'</span></div>'+
					    	'<div class="item"><span>Tuesday</span><span>'+location[3]+'</span></div>'+
					    	'<div class="item"><span>Wednesday</span><span>'+location[4]+'</span></div>'+
					    	'<div class="item"><span>Thursday</span><span>'+location[5]+'</span></div>'+
					    	'<div class="item"><span>Friday</span><span>'+location[6]+'</span></div>'+
					    	'<div class="item"><span>Saturday</span><span>'+location[7]+'</span></div>'+
					    	'<div class="item"><span>Sunday</span><span>'+location[8]+'</span></div>'+
					    	'</div></div>';
					    	

					      //alert(results[0].geometry.location);
					      createMarker(results[0].geometry.location,infoText);
					    }
					    else
					    {
					      alert("some problem in geocode" + status);
					    }
					  }); 
					}

					function createMarker(latlng,html){
					   var marker = new google.maps.Marker({
					    position: latlng,
					    map: map
					  }); 

					  google.maps.event.addListener(marker, 'click', function() { 
					    infoWindow.setContent(html);
					    infoWindow.open(map, marker);
					  });

					  markers.push(marker);
					}
					require(["jquery"],function ($) {
						
						$('.shop-item').click(function(event){
							if ($(this).hasClass("active")){
								$(this).removeClass("active");
							}
							else
							{
								$('.shop-item').removeClass("active");
								$(this).addClass("active");
							 	geocoder.geocode( { 'address': ''+$(this).children(".shop-address").text()+''}, function(results, status) {
								  //alert(status);
								    if (status == google.maps.GeocoderStatus.OK) {
								    	map.setZoom(12);
								    	map.setCenter(results[0].geometry.location);
								    }
								     else
								    {
								      alert("some problem in geocode" + status);
								    }
								});
							}
						});

						$('.search-btn').click(function(event){
							var searchAddress = document.getElementById('search-address').value;
							var searchAddressCrd;
							geocoder.geocode({'address':searchAddress},function(results,status){
								if(status == google.maps.GeocoderStatus.OK){
									searchAddressCrd = results[0].geometry.location;
									var shortDistance = google.maps.geometry.spherical.computeDistanceBetween(searchAddressCrd, markers[0].getPosition());
									var closestMarker = markers[0];
									var x;
									for(x = 1; x < markers.length; x++){
										var newDistance = google.maps.geometry.spherical.computeDistanceBetween(searchAddressCrd, markers[x].getPosition());
										if(shortDistance > newDistance){
											shortDistance = newDistance;
											closestMarker = markers[x];
										}
									}

									map.setZoom(12);
									map.setCenter(closestMarker.getPosition());
								}
								else
							    {
							      alert("some problem in geocode" + status);
							    }
							});

							
						});
					});
				}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVpRIpmpf3-GQxqH3PmgfPNR82gBuk8Ts&sensor=false&v=3&libraries=geometry&callback=initMap">
		    </script>
		</div>
	</div>
</div>
