/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
//font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//colors variables
$white:#fff;
$light_blue:#cdaaf0;
$jysk_blue:#003187;
$dark:#373b42;
$copy:#46536c;
$green:#85b73c;
$orange:#f47b20;
///basic styles
%product-name{
  font-family: "Open Sans",sans-serif;
  font-size: 31px;
  font-weight: bold;
}

%for-breadcrumb{
  font-size: 12px;
  font-family: "Open Sans",sans-serif;
}

%basic-font{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: $copy;
}

%related-product-title{
  font-family: "Open Sans",sans-serif;
  font-size: 26px;
  font-weight: 100;
}

h3{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 19px;
  &.subtitle{
    text-transform: uppercase;
    color: $jysk_blue;
    font-weight: lighter;
  }
}

h2{
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.block{
  @extend %basic-font;
  img{float: right;}
  ul{
    padding-top: 43px;
    li{
      font-weight: bold;
    }
  }
}

.main-info{
  p {
    font-size: 21px;
    font-weight: lighter;
    color: $green;
    line-height: 1.6;
    padding-left: 75px;
    position: relative;
  }
  :before{
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width:60px;
    background-color: $green;
  }
}

.special-offer{
  width: 33%;
  margin-right: 1.3%;
  @extend %basic-font;
  font-size: 13px;
  h3{
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 14px;
  }
  &.left-img{
    position: relative;
    padding-left: 75px;
    img{
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  &.top-img{
    text-align: center;
    img{margin: 0 auto 20px;}
    float:right;
  }
}

.half-blocks{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  td{
    width: 50%;
    :first-child{
      padding-right:50px;
      background-color: transparent;
      color: $copy;
    }
  }
}

table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  th{
    border: 1px solid $copy;
    background-color: #f5f7fb;
    :nth-child(2){width: 295px}
    font-weight: bold;
    text-transform: uppercase;
    color: $copy;
    font-size: 13px;
  }
  td{
    :first-child{background-color: #fcfdff;}
    @extend %basic-font;
    color: $light_blue;
  }
}

.product-slider{
  .product-item{
    display: block;
    height: 375px;
    border: 1px solid #e1e3e7;
    .product-img{
      height: 235px;
      margin-bottom: 40px;
    }
    .product-name{
      @extend %related-product-title;
      font-size: 16px;
      padding-bottom: 15px;
      padding-left: 25px;
    }
    .product-price{
      color:#999;
      font-size: 18px;
      padding: 0 0 15px 25px;
    }

    .product-status{
      color: $green;
      font-size: 9px;
      text-transform: uppercase;
      padding-left: 25px;
    }
  }
}

//sticky header
.page-header{
  &.sticky{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: #ccc;
    .panel{display: none;}
    width: 100%;
  }
}