<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $products = $objectManager->get('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
    $collection = $products->create()
        ->addAttributeToSelect('*')
        ->load();
?>

<ul class="product-slider">
    <?php
        foreach ($collection as $product_item){
    ?>
    <li>
        <a href="<?=$product_item->getUrlInStore();?>" class="product-item">
            <div class="product-img"> <img src="<?= $product_item->getImage(); ?>" alt="product image"/></div>
            <div class="product-name"><?php echo $product_item->getName(); ?></div>
            <div class="product-price"><?php echo "&euro;".$product_item->getFinalPrice();?></div>
			<div class="product-status"><?php 
				if($product_item->getQty()!==0){
					echo"In stock";
				}else{
					echo "Out of stock";
				}
			?></div>
        </a>
		
    </li>
		<?php }?>
</ul>

<script type="text/javascript">
    requirejs(['jquery', 'mySlider' ],
      function ($, mySlider) {
          $(document).ready(function(){

             $('.product-slider').bxSlider({
                 auto:  true,
                 controls:true,
                 pager: true,
                 useCss:true,
                 mode:'horizontal',
                 pause:4100,
                 speed:1200,
                 responsive:true,
                 minSlides:1,
                 maxSlides:4,
				 moveSlides:1,
                 slideWidth:260
             });

          });
      });
  </script>